body {
  margin: 0;
  font-family:'Times New Roman', Times, serif;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(to top, transparent 0%, white 80%),#fffddd;
}
  
.topnav {
  position: relative;
  overflow: hidden ;
  background-color: #333;
}
  
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
  
.topnav a:hover {
  background-color: #ddd;
  color: black;
  font-weight: bold;
  font-size: 25px;
}
  
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
  
.topnav-right {
  float: right;
}
  
#page {
  zoom: 125%;
  text-align: center;
}
  
header {
  display: flex;
  justify-content: center;
  color: rgb(230, 230, 230);
}

:root {
  --shadow-color: #FF9E9E;
  --shadow-color-light: white;
}
  
.title {
  color: white;
  animation: neon 1s infinite;
  font-size: 60px;
  font-family: "Archivo Black", "Archivo", sans-serif;
  display: block;
}

@keyframes neon {
    0% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
    50% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
      0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
    }
    100% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
}

#info {
  margin: 0 auto;
  text-align: center;
  width: 450px;
  border: 3.5px solid rgb(73, 73, 73);
  border-radius: 10px;
  background-color: rgb(235, 235, 235);
}

#d {
  float: right;
  border: 3.5px solid rgb(73, 73, 73);
  border-radius: 10px;
  background-color: rgb(235, 235, 235);
}

#s {
  float: left;
  border: 3.5px solid rgb(73, 73, 73);
  border-radius: 10px;
  background-color: rgb(235, 235, 235);
}

button {
  margin: 0 auto;
  display: block;
  padding: 10px 15px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: white;
  border-radius: 20px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #f44336;
  color: white;
}