body {
  margin: 0;
  font-family:'Times New Roman', Times, serif;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.topnav {
  position: relative;
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  font-weight: bold;
  font-size: 25px;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

#page {
  margin: 20px;
  zoom: 175%;
}

header {
  display: flex;
  justify-content: center;
}

a.title:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}

h1 {
  margin: 0;
  margin-bottom: 20px;
	font-size: 25px;
  font-weight: bold;
  color: #AAA;
}

form {
  padding: 40px;
  background: linear-gradient(217deg, rgba(0,0,255,.8), rgba(255,0,0,0) 70.71%),
              linear-gradient(127deg, rgba(255,0,0,.8), rgba(0,255,0,0) 70.71%),
              linear-gradient(336deg, rgba(0,255,0,.8), rgba(0,0,255,0) 70.71%);
  border: 4px solid #AAA;
  width: 360px;
  margin: 30px auto;
}

input {
	font: 14px 'Open Sans', sans-serif;
  border: 2px solid #ccc;
  padding: 6px;
  display: block;
	margin-bottom: 10px;
  width: 96%;
}


button {
  margin: 0 auto;
  display: block;
  padding: 10px 15px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: white;
  border: 2px solid #f44336;
  border-radius: 50%;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #f44336;
  color: white;
}